---
import Layout from '../layouts/MainLayout.astro';
import SideBar from '../components/SideBar.astro';
import MainContent from '../components/MainContent.astro';
---

<Layout title = "SomGlossary">
    <div class="relative flex w-full overflow-hidden">
        <SideBar/>
        <MainContent/>
    </div>
</Layout>
