---
import Nav from "./Nav.astro";
import ViewSection from "./ViewSection.astro";
import LanguageIcon from "../icons/LanguageIcon.astro";
import BookIcon from "../icons/BookIcon.astro";
import OpenSourceIcon from "../icons/OpenSourceIcon.astro";
import BoxAddIcon from "../icons/BoxAddIcon.astro";
import output from "../../glossary_data/output.json";

const features = [
    {
        title: "Af-Soomaali",
        description: "Erayo tiknoolaji ah oo lagu sharaxay Af-Soomaali.",
    },
    {
        title: "Kobcinta Aqoon Tiknoolajiyeed",
        description:
            "Kor u qaadaysa fahamka tiknoolajiga ee bulshada Soomaaliyeed.",
    },
    {
        title: "Open Source",
        description:
            "Qof walbana wuu ka qayb qaadan kara ama wax wu ku dari karaa.",
    },
];
const highlights = [
    {
        title: "Total Glossaries",
        data: output.length,
    },
    {
        title: "Random Glossary",
        data: output.length,
    },
    {
        title: "Newest Glossary Added",
        data: output.length,
    },
    {
        title: "Glossary of the Day",
        data: output.length,
    },
];
---

<div class="w-full ml-[300px] mr-0 max-[850px]:ml-0 flex-1 overflow-hidden">
    <Nav />
    <ViewSection />
    <div class="p-2">
        <h1
            class="flex items-center justify-between gap-2 dark:text-slate-400 dark:border-slate-800 dark:bg-slate-800 bg-slate-50 rounded-md text-center text-slate-300text-lg font-semibold text-slate-600 border-b-2 border-indigo-100 w-fit m-auto pl-2"
        >
            Faa'iidooyinka <span class="text-blue-400">SomGlossary</span>
            <span
                class="p-1 bg-blue-500 flex items-center justify-center rounded-md text-white border-2 dark:border-slate-600 border-slate-200"
            >
                <BoxAddIcon />
            </span>
        </h1>
        <ul class="flex gap-4 p-4 flex-wrap w-full justify-center items-center">
            {
                features
                    ? features.map((reason, index) => (
                          <li class="dark:text-white dark:border-slate-600 max-w-[350px] w-full min-h-[100px] dark:bg-slate-900 bg-white flex gap-2 flex-col border-[1.5px] border-slate-300 p-2 rounded-md">
                              <span class="italic font-bold dark:text-slate-300 text-slate-700 flex gap-2 items-center">
                                  {index === 0 ? (
                                      <span class="p-1 bg-blue-500 flex items-center justify-center rounded-md text-white border-2 dark:border-slate-600 border-slate-200">
                                          <LanguageIcon />
                                      </span>
                                  ) : index === 1 ? (
                                      <span class="p-1 bg-blue-500 flex items-center justify-center rounded-md text-white border-2 dark:border-slate-600 border-slate-200">
                                          <BookIcon />
                                      </span>
                                  ) : (
                                      <span class="p-1 bg-blue-500 flex items-center justify-center rounded-md text-white border-2 dark:border-slate-600 border-slate-200">
                                          <OpenSourceIcon />
                                      </span>
                                  )}
                                  {reason.title}
                              </span>
                              <p class="dark:text-slate-400 text-slate-600 max-[1430px]:text-center">
                                  {reason.description}
                              </p>
                          </li>
                      ))
                    : null
            }
        </ul>
    </div>
</div>
