---
import SearchComponent from "./SearchComponent.astro";
import MenuIcon from "../icons/MenuIcon.astro";
import ThemeIcon from "../icons/ThemeIcon.astro";
import MoonIcon from "../icons/MoonIcon.astro";
import SunIcon from "../icons/SunIcon.astro";
import DefaultModeIcon from "../icons/DefaultModeIcon.astro";
import BookMark from "../icons/BookMark.astro";
import HomeIcon from "../icons/HomeIcon.astro";
function is_homepage() {
    if (Astro.url.pathname === "/") {
        return true;
    } else return false;
}
---

<nav
    id="nav-bar"
    class="flex dark:bg-slate-900 dark:border-b-slate-800 gap-3 items-center px-2 py-3 bg-slate-50 shadow-sm justify-between border-b border-slate-200"
>
    <div class="flex gap-4 justify-center items-center">
        <button id="menu-btn" class="max-[850px]:flex hidden cursor-pointer">
            <MenuIcon dimension={34} color="oklch(70.7% 0.165 254.624)" />
        </button>
        <div class="flex gap-3 items-center">
            {
                is_homepage() ? null : (
                    <button
                        title="Home"
                        class="text-blue-500 cursor-pointer hover:text-blue-900 mx-2"
                    >
                        <a href="/">
                            <HomeIcon />
                        </a>
                    </button>
                )
            }
            <button
                title="Bookmark"
                class="text-blue-500 cursor-pointer hover:text-blue-900 mx-2"
            >
                <a href="/bookmark">
                    <BookMark />
                </a>
            </button>
        </div>
    </div>
    <div class="relative flex items-center gap-5 w-full justify-end">
        <SearchComponent maxWidth="50px" placeholder="" />
        <button id="theme-btn" title="Theme" class="cursor-pointer">
            <ThemeIcon dimension="32" />
        </button>
        <div
            id="theme-container"
            class="hidden dark:bg-slate-900 dark:text-white absolute top-[120%] right-0 flex-col gap-4 bg-white p-2 border-2 border-indigo-200 rounded-md shadow-md"
        >
            <button
                id="light-mode-btn"
                class="text-start flex gap-2 items-center cursor-pointer italic p-2 border-2 border-transparent hover:border-indigo-300 rounded-md"
            >
                <SunIcon dimension="28" color="oklch(85.2% 0.199 91.936)" />
                Light Mode
            </button>
            <button
                id="dark-mode-btn"
                class="text-start flex gap-2 items-center cursor-pointer italic p-2 border-2 border-transparent hover:border-indigo-300 rounded-md"
            >
                <MoonIcon dimenstion="20" color="oklch(58.5% 0.233 277.117)" />
                Dark Mode
            </button>
            <button
                id="default-mode-btn"
                class="text-start flex gap-2 items-center cursor-pointer italic p-2 border-2 border-transparent hover:border-indigo-300 rounded-md"
            >
                <DefaultModeIcon color="#aad" />
                System default
            </button>
        </div>
    </div>
</nav>
<script src="../js/handleNav.js"></script>
