---
import ResultIcon from "../icons/ResultIcon.astro";
---
<div class="bg-white dark:bg-slate-900 dark:border-slate-800/50 border-2 border-slate-100 shadow-md rounded-md max-w-[900px] w-full h-[200px]">
    <div class="w-full dark:bg-slate-900 min-h-[50px] bg-slate-50 border-b-2 dark:border-slate-800/50  border-slate-400 flex gap-2 items-center p-2">
        <ResultIcon dimension={30} color=" #45556c"/>
        <span class="italic dark:text-white text-slate-600 font-semibold">Results</span>
    </div>
</div>