---
import CloseIcon from "../icons/CloseIcon.astro";
import SearchIcon from "../icons/SearchIcon.astro";
import ResultContainer from "./ResultContainer.astro";
---

<div
    id="result-background"
    style="transition: transform 1s ease-in-out;"
    class="pattern dark:bg-slate-900/10 hidden fixed top-0 right-0 bottom-0 left-0 z-100 w-full min-h-screen p-4 bg-white/10 backdrop-blur-lg flex-col gap-4 justify-center items-center"
>
    <button id="bg-close-btn" class="absolute text-blue-500 dark:text-white top-2 right-2 cursor-pointer">
        <CloseIcon dimension={35}/>
    </button>
    <div
        class="max-w-[900px] dark:bg-slate-700 dark:border-slate-800 w-full mt-10 border-2 p-1 border-slate-200 rounded-md bg-white flex gap-2 items-center"
    >
        <span class="px-2">
            <SearchIcon color="#ddd" />
        </span>
        <input
            id="functional-search-input"
            type="search"
            class="w-full dark:text-white max-w-full p-2 rounded-md outline-none"
            placeholder="Search..."
        />
        <script>
            const searchInput = document.getElementById(
                "functional-search-input",
            );
            if (searchInput && searchInput.parentElement) {
                searchInput.addEventListener("focus", () => {
                    (searchInput.parentElement as HTMLElement).style.outline =
                        "2px solid oklch(70.7% 0.165 254.624)";
                });
                searchInput.addEventListener("blur", () => {
                    (searchInput.parentElement as HTMLElement).style.outline =
                        "none";
                });
            }
            const closeBtns = document.querySelectorAll("#bg-close-btn");
            const resultBackground =
                document.getElementById("result-background");
            if (closeBtns && resultBackground) {
                closeBtns.forEach((btn) => {
                    btn.addEventListener("click", () => {
                        resultBackground.style.transform = "translateY(-100vh)";
                        setTimeout(() => {
                          resultBackground.style.display = "none";
                        }, 1000)
                    });
                });
            }
        </script>
        <button
            class="bg-blue-500 dark:bg-gradient-to-r from-blue-800 to-indigo-900 dark:border-slate-500 font-semibold p-2 rounded-md text-slate-100 cursor-pointer hover:bg-blue-600 border border-slate-200 italic"
        >
            Search
        </button>
    </div>
    <ResultContainer />
    <button
        id="bg-close-btn"
        class="bg-blue-500 dark:bg-gradient-to-r from-blue-800 to-indigo-900 dark:border-slate-500 shadow-md text-white text-lg font-semibold italic m-auto rounded-lg cursor-pointer flex justify-center items-center gap-2 border-2 border-slate-200 w-fit px-4 py-2"
    >
        Close
        <CloseIcon dimension={35} color = "#fff"/>
    </button>
</div>