---
import SideBarIcon from "../icons/SideBarIcon.astro";
import IssueIcon from "../icons/IssueIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import DocIcon from "../icons/DocIcon.astro";
import ArrowIcon from "../icons/ArrowIcon.astro";
import Logo from "../assets/somglossary.svg";
import sections from "../helpers/getSections";
---

<div
    id="sidebar-parent"
    class="max-[850px]:hidden fixed left-0 top-0 right-0 bottom-0 z-99 w-[300px] max-[850px]:w-full bg-white/10 backdrop-blur-md flex flex-col"
>
    <aside
        id="sidebar"
        class="h-full max-[450px]:w-full dark:bg-slate-900 dark:border-r-slate-800 bg-slate-50 border-r-2 border-slate-200 flex flex-col w-[300px]"
    >
        <div
            class="p-2 dark:border-slate-800 flex justify-between items-center border-b-2 border-slate-100 gap-2"
        >
            <h1
                style={{ fontFamily: "Grand Hotel" }}
                class="text-[1.5rem] dark:text-white text-slate-700 text-cneter flex gap-2 items-center"
            >
                <Logo width={24} height={24} />
                SomGlossary
            </h1>
            <button
                id="close-btn"
                class="max-[850px]:flex hidden cursor-pointer"
            >
                <span class="text-blue-500">
                    <SideBarIcon dimension={30}/>
                </span>
            </button>
        </div>
        <div id="list-container" class="flex flex-col gap-3 p-2 overflow-auto">
            {
                sections
                    ? sections.map((section, i) => (
                          <div class="flex flex-col gap-2 dark:bg-blue-900/20 dark:border-blue-500/20 bg-blue-100/50 p-2 px-3 rounded-md border-2 border-blue-100/30">
                              <button
                                  id="header-btn"
                                  class="cursor-pointer dark:text-slate-100 font-semibold text-slate-600 flex gap-2 justify-between items-center"
                              >
                                  {section.header}
                                  <span>
                                      <ArrowIcon />
                                  </span>
                              </button>
                              <ul
                                  id="content-list"
                                  style={{
                                      borderColor:
                                          section.contents.length > 0
                                              ? "oklch(80.9% 0.105 251.813);"
                                              : "transparent",
                                  }}
                                  class="overflow-hidden pl-3 py-2 border-l-2 flex flex-col gap-2"
                              >
                                  {section.contents.map((content) => (
                                      <li class="p-1 hover:bg-blue-200/50 rounded-md">
                                          <a
                                              href=""
                                              class="dark:text-slate-50 text-slate-800 flex gap-2 items-center italic"
                                          >
                                              <span class="text-blue-400">
                                                  <DocIcon />
                                              </span>
                                              {content}
                                          </a>
                                      </li>
                                  ))}
                              </ul>
                          </div>
                      ))
                    : null
            }
        </div>
        <div class="flex-1 p-2 flex justify-end items-center flex-col gap-2">
            <a
                href=""
                class="p-2 rounded-md bg-blue-500 w-full dark:bg-blue-600 dark:hover:bg-blue-700 text-center hover:bg-blue-600"
            >
                <button
                    class="text-slate-100 font-semibold cursor-pointer flex gap-3 justify-center items-center w-full"
                >
                    <GithubIcon />
                    Contribute
                </button>
            </a>
            <a
                href=""
                class="p-2 rounded-md bg-slate-800 dark:bg-slate-700 dark:hover:bg-slate-800 w-full text-center hover:bg-slate-900"
            >
                <button
                    class="text-slate-100 font-semibold cursor-pointer flex gap-3 justify-center items-center w-full"
                >
                    <IssueIcon />
                    Issue
                </button>
            </a>
        </div>
    </aside>
</div>

<style is:inline>
    #sidebar {
        transition: transform 0.5s ease-in-out;
        @media (max-width: 850px) {
            #sidebar {
                transform: translateX(-450px);
            }
        }
</style>
<script src="../js/handleSideBar.js"></script>
<script src="../js/expandContent.js"></script>
