---
import SideBarIcon from "../icons/SideBarIcon.astro";
import IssueIcon from "../icons/IssueIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import DocIcon from "../icons/DocIcon.astro";
import Logo from "../assets/somglossary.svg";
import output from "../../glossary_data/output.json";
import BookMark from "../icons/BookMark.astro";
function textCompress(text: string, length: number) {
  if (text && length) {
    if (text.length > length) {
      text = text.slice(0, length) + "...";
      return text;
    } else {
      return text;
    }
  }
}
---

<div
    id="sidebar-parent"
    class="max-[850px]:hidden overflow-hidden fixed inset-0 z-99 w-[300px] max-[850px]:w-full bg-white/10 backdrop-blur-md flex flex-col"
>
    <script>
    window.addEventListener("resize", () => {
        if (window.innerWidth <= 450) {
          document.body.style.overflow = "none";
          console.log(document.body);
        }
    });
    </script>
    <aside
        id="sidebar"
        class="flex-1 h-full max-[450px]:w-full dark:bg-slate-900 dark:border-r-slate-800 bg-slate-50 border-r-2 border-slate-200 flex flex-col w-[300px]"
    >
        <div
            class="p-2 dark:border-slate-800 flex justify-between items-center border-b-2 border-slate-100 gap-2"
        >
            <a href="/">
                <h1
                    style={{ fontFamily: "Grand Hotel" }}
                    class="text-[1.5rem] dark:text-white text-slate-700 text-cneter flex gap-2 items-center"
                >
                    <Logo width={24} height={24} />
                    SomGlossary
                </h1>
            </a>
            <button
                id="close-btn"
                class="max-[850px]:flex hidden cursor-pointer"
            >
                <span class="text-blue-500">
                    <SideBarIcon dimension={30}/>
                </span>
            </button>
        </div>
        <div id="list-container" class="flex flex-col gap-3 p-2 overflow-auto">
            <div class="flex flex-col gap-2 dark:bg-blue-900/20 dark:border-blue-500/20 bg-slate-100/10 p-2 px-3 rounded-md border-2 border-blue-100/50">
                <h2
                id="header-btn"
                class="cursor-pointer dark:text-slate-100 font-semibold text-slate-600 flex gap-2 items-center"
                >
                    <BookMark/>
                    Glossary
                </h2>
                <ul
                    id="content-list"
                    style={{
                        borderColor:
                            output.length > 0
                                ? "oklch(80.9% 0.105 251.813);"
                                : "transparent",
                    }}
                    class="overflow-hidden pl-3 py-2 border-l-2 flex flex-col gap-2"
                >
                    {
                    Array.isArray(output) && output.length > 0 ? output.map((obj: {file: string, title: string}, i: number) => (
                        <li class="p-1 dark:hover:bg-blue-800/20  hover:bg-blue-200/20 rounded-md">
                            <a
                            title={obj.title}
                                href={"/glossary/" + output[i]?.file.slice(0, output[i]?.file.lastIndexOf("."))}
                                class="dark:text-slate-50 text-slate-600 flex gap-2 items-center font-medium"
                            >
                                <span class="text-blue-500">
                                  <DocIcon dimension={20}/>
                                </span>
                                {textCompress(obj.title, 24)}
                            </a>
                        </li>
                    )): null}
                </ul>
            </div>
        </div>
        <div class="flex-1 p-2 flex justify-end items-center flex-col gap-2">
            <a
                href="https://github.com/Adam-Elmi/SomGlossary"
                class="p-2 rounded-md bg-blue-500 w-full dark:bg-blue-600 dark:hover:bg-blue-700 text-center hover:bg-blue-600"
            >
                <button
                    class="text-slate-100 font-semibold cursor-pointer flex gap-3 justify-center items-center w-full"
                >
                    <GithubIcon />
                    Contribute
                </button>
            </a>
            <a
                href="https://github.com/Adam-Elmi/SomGlossary/issues/new"
                class="p-2 rounded-md bg-slate-800 dark:bg-slate-700 dark:hover:bg-slate-800 w-full text-center hover:bg-slate-900"
            >
                <button
                    class="text-slate-100 font-semibold cursor-pointer flex gap-3 justify-center items-center w-full"
                >
                    <IssueIcon />
                    Issue
                </button>
            </a>
        </div>
    </aside>
</div>

<style is:inline>
    #sidebar {
        transition: transform 0.5s ease-in-out;
        @media (max-width: 850px) {
            #sidebar {
                transform: translateX(-450px);
            }
        }
</style>
<script src="../js/handleSideBar.js"></script>
<script src="../js/expandContent.js"></script>
