---
import CopyIcon from "../icons/CopyIcon.astro"
const {title} = Astro.props;
---

<div class="dark:bg-gray-900 dark:border-slate-800 p-2 bg-blue-50 rounded-md my-2 border-[1.5px] border-slate-200">
    <div class="min-h-[10px] flex items-center justify-between">
        {
        title && <span>{title}</span>
        }
        <div class="flex items-center justify-end w-full">
            <button class="text-gray-600 cursor-pointer">
                <CopyIcon/>
            </button>
        </div>
    </div>
    <p class="leading-8 dark:text-slate-200 text-slate-700">
        <slot/>
    </p>
</div>