---
import SearchComponent from "./SearchComponent.astro";
---
<section
    class="pattern dark:bg-slate-900 dark:border-slate-800 bg-white w-full min-h-[200px] p-2 pb-5 flex flex-col justify-center items-center gap-5 border-b-2 border-slate-100"
>
    <div class="-w-full flex flex-col gap-3 justify-center items-center text-center">
        <h1 class="text-[2rem] dark:text-white font-bold text-slate-600">
            Ku dhawow <span
                style={{ fontFamily: "Grand Hotel" }}
                class="text-blue-400 text-[2.2rem]">SomGlossary</span>
        </h1>
        <p class="text-slate-700 dark:text-white italic text-center">
            Boggan waxaad ka heli doontaa ereyo tiknoolajiyeed iyo macnahooda,
            oo si faahfaahsan oo af-Soomaali ah loo turjumay
        </p>
    </div>
    <SearchComponent showButton = true />
</section>