---
import "../styles/global.css";
import MainHead from "./MainHead.astro";
import MainFooter from "./MainFooter.astro";
import ResultBackground from "../components/ResultBackground.astro";
const { title, is_there_sidebar = true } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
    <MainHead {title} />
    <body class="dark:bg-slate-900 pattern-two">
        <main>
            <slot />
            <ResultBackground />
        </main>
    </body><MainFooter {is_there_sidebar} />
</html>
<script src="../js/handleSearch.js"></script>
