---
import Layout from "./MainLayout.astro";
import SideBar from "../components/SideBar.astro";
---

<Layout title="Glossary">
    <div class="relative flex w-full overflow-hidden">
        <SideBar />
        <div class="ml-[300px] w-full mr-0 max-[850px]:ml-0 flex flex-col">
            <slot />
        </div>
    </div>
</Layout>
