---
import Layout from "./MainLayout.astro";
import SideBar from "../components/SideBar.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Glossary">
    <div class="relative flex w-full">
        <SideBar />
        <div class="ml-[300px] w-full max-[850px]:ml-0 flex flex-col">
            <Nav />
            <slot />
        </div>
    </div>
</Layout>
